# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/
.env

# --------------------
# Node.js
# --------------------
node_modules/
dist/
build/

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# macOS
# --------------------
.DS_Store

# --------------------
# Logs
# --------------------
*.log