.health-title{

color:white;
text-align:center;
font-size:50px;

}


.health-subtitle{

color:#94A3B8;
text-align:center;
font-size:22px;

}



.health-stats{

display:flex;
justify-content:center;
gap:25px;
margin-top:30px;

}



.health-card{

background:#1E293B;
padding:25px;
width:220px;
border-radius:20px;
text-align:center;
color:white;

}


.health-card h1{

color:#3B82F6;
font-size:40px;

}




.health-form{

background:#1E293B;
width:600px;
margin:35px auto;
padding:30px;
border-radius:20px;
color:white;

}



.health-form h2{

text-align:center;

}



.health-form input{

width:100%;
padding:15px;
margin:10px 0;
border-radius:10px;
border:none;
background:#334155;
color:white;
font-size:18px;

}



.health-form button{

width:100%;
padding:15px;
background:#3B82F6;
border:none;
border-radius:10px;
color:white;
font-size:18px;

}



.activity{

background:#334155;
padding:15px;
margin-top:15px;
border-radius:12px;
display:flex;
justify-content:space-between;

}



.health-history{

background:#334155;
padding:15px;
border-radius:12px;
margin-top:15px;
display:flex;
justify-content:space-between;

}