.settings-container{

padding:40px;

color:white;

}



.settings-container h1{

text-align:center;

font-size:50px;

}



.settings-subtitle{

text-align:center;

color:#94A3B8;

font-size:22px;

margin-bottom:40px;

}



.settings-card{

background:#1E293B;

padding:30px;

border-radius:20px;

width:600px;

margin:30px auto;

}



.settings-card h2{

margin-bottom:20px;

}



.setting-item{

background:#334155;

padding:15px;

border-radius:12px;

margin-top:15px;

display:flex;

justify-content:space-between;

align-items:center;

}



.setting-item button{

background:#3B82F6;

color:white;

border:none;

padding:10px 20px;

border-radius:10px;

}



.danger-btn{

width:100%;

padding:15px;

background:#EF4444;

color:white;

border:none;

border-radius:12px;

font-size:18px;

}