.settings-title{

color:white;
text-align:center;
font-size:50px;

}


.settings-subtitle{

text-align:center;
color:#94A3B8;
font-size:22px;

}



.settings-container{

display:flex;
flex-direction:column;
align-items:center;
gap:25px;

}



.settings-card{

background:#1E293B;

color:white;

padding:30px;

border-radius:20px;

width:600px;

transition:.3s;

}



.settings-card:hover{

transform:translateY(-5px);

}



.settings-card input,
.settings-card textarea,
.settings-card select{

width:100%;

padding:15px;

margin-top:15px;

background:#334155;

border:none;

border-radius:10px;

color:white;

font-size:16px;

}



.settings-card textarea{

height:100px;

}



.settings-card button{

margin-top:15px;

padding:12px 20px;

background:#3B82F6;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

}



.setting-row{

display:flex;

justify-content:space-between;

align-items:center;

background:#334155;

padding:15px;

border-radius:12px;

margin-top:15px;

}



@media(max-width:700px){

.settings-card{

width:90%;

}

}